<div class="container p-2">
  <select class="custom-select mb-3 mt-3" [formControl]="selectedSubject">
    <option selected value="all">All Subjects</option>
    <ng-container *ngFor="let subject of subjects">
      <option value="{{subject.id}}">{{subject.name}}</option>
    </ng-container>
  </select>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Subject</th>
    <th scope="col">Birth Date</th>
    <th scope="col">Gender</th>
    <th scope="col">Is Active</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!loading.students && !loading.subjects;else loader">
      <ng-container *ngIf="selectedStudents.length; else noDataBlock;">
        <tr *ngFor="let student of selectedStudents; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td> {{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ getSubjectName(student.subjectId) }}</td>
            <td>{{ student.dob }}</td>
            <td>{{student.gender}}</td>
            <td>
              <ng-template *ngIf="student.isActive;then yes;else no"></ng-template>
              <ng-template #yes><fa-icon [icon]="icons.yes" [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon></ng-template>
              <ng-template #no><fa-icon [icon]="icons.no" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon></ng-template>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-warning" (click)="onEdit(student.id)">
                  <fa-icon [icon]="icons.edit"></fa-icon>
                </button>
                <button type="button" class="btn btn-danger" (click)="onDelete(student.id)">
                  <fa-icon [icon]="icons.delete"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #noDataBlock><td attr.colspan="{{8}}">
          Uh oh! No students in the database yet!
          <a class="btn btn-primary" routerLink="/add-student"
          role="button">Add Student</a>
        </td></ng-template> 
  </ng-container>
<ng-template #loader>
  <td attr.colspan="{{8}}">
    <ngx-skeleton-loader count=5></ngx-skeleton-loader>
  </td>
</ng-template>
  </tbody>
</table>
</div>
